

P{
    margin: 0px;
}




.tr-link:hover{
    background: lightgrey;
    cursor: grab;
}

.cart-header-custom{
    background-color: lightgrey;
    color:black;
}

.custom-modal-dialog {
    margin-left: 750px;
    width: 400px;
}

.btn-app {
    border-radius: 3px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #6c757d;
    font-size: 12px;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}


.btn-app:hover {
    background-color: #f8f9fa;
    border-color: #aaaaaa;
    color: #444;
}


.button-money-come{
    display: none;
}

@media (max-width: 1200px) {




    .custom-modal-dialog {

            margin-left: auto;
            width: auto;

    }

    .input-hidden{
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        border: 0 !important;
    }

    #input{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

@media (max-width: 450px) {
    #PaySection{
        display: none;
    }

    #AddVznos{
        display: none;
    }

    #MoneyComing{
        display: none;
    }


    .button-money-come{
        display: block;
    }
}
